ticketlove.net, www.ticketlove.net {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy web:3000

	log {
		output file /data/access.log {
			roll_size 10MB
			roll_keep 5
		}
	}
}
